<!-- 不需要的页面 -->

<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	
	<link rel="stylesheet" href="bootstrap/bootstrap3/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-toggler" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> 夸夸组</a>
			</div>
			<div class="collapse navbar-collapse" id="nav-toggler">
				<ul class="nav navbar-nav">
					<li><a href="/">主页</a></li>
					<li><a href="#">联系我们</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/register">注册</a></li>
					<li><a href="/login">登录</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="jumbotron">
			<h1><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> 夸夸组</h1>
			<p>我们不卖房，我们只是房子的搬运工</p>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="thumbnail">
					<img src="/source/1.jpg">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="thumbnail">
					<img src="/source/2.jpg">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="thumbnail">
					<img src="/source/3.jpg">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="thumbnail">
					<img src="/source/4.jpg">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="thumbnail">
					<img src="/source/5.jpg">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="thumbnail">
					<img src="/source/6.jpg">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="thumbnail">
					<img src="/source/7.jpg">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="thumbnail">
					<img src="/source/8.jpg">
				</div>
			</div>

		</div>
	</div>

	<script src="jquery/jquery-3.5.1.min.js"></script>
	<script src="bootstrap/bootstrap3/js/bootstrap.min.js"></script>
</body>
</html>