<%- include("partials/header") %>

<h4>
	current user: <%= currentUser %>
</h4>

<a href="/properties" class="btn btn-primary">All Properties</a>

<a href="/properties/new" class="btn btn-primary">Create new property</a>

<%- include("partials/footer") %>