<%- include("../partials/header") %>


<body>
    <div class="container">
		<%- include('../partials/messages'); %>
        <div class="jumbotron">
            <h1 class="mt-4">Dashboard</h1>
            <p class="lead mb-3">Welcome <%= email %></p>
		</div>
		
		<a href="/my/info" class="btn btn-primary">查看个人信息</a>
		
    </div>

	<script src="jquery/jquery-3.5.1.min.js"></script>
	<script src="bootstrap/bootstrap3/js/bootstrap.min.js"></script>
</body>

<%- include("../partials/footer") %>