
body {
	padding-top: 70px;
}

.button {
    margin: 30px auto;

}
.btn-lg {
    
    background-color: black;
    color: white;
    width: 150px;
    margin: 30px 45%;
    border-radius: 25%;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.input-group {
    margin: 30px auto;
    width: 70%;
    height: 50px;
}

.input-group-addon {
    width: 10%;
    background-color: black;
    color: white;
}

.form-control {
    height: 50px;
}

.selectpicker {
    margin-left: 10%;
    font-size: 3em; 
}

